td {
    vertical-align: middle !important;
}

.cke {
    border: 2px solid #dce4ec !important;
    border-radius: 4px;
    transition: border .3s !important;
}

.cke_editable {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 15px !important;
}

.cke_focus {
    border-color: #2c3e50 !important;
}
