footer
    background $roxo
    width 100%
    .footer-table
        display table
        width 100%
        .col
            display table-cell
            border-left 1px solid #37629A
            padding 20px 40px 20px 20px
            width 1px
            &:last-child
                width 100%
            +below($tablet)
                display none
                border none
                padding 20px 0
                &:last-child
                    display table-cell
            a
                lato 12
                color #fff
                display block
                white-space nowrap
                &:hover
                    color $azul
                &.footer-link-title
                    margin-top 1.2em
                    &:first-child
                        margin-top 0
                    +below($tablet)
                        display none
            p.telefone
            p.whatsapp
                lato 14 bold
                color #fff
                padding-left 24px
                background-size auto 18px !important
            p.telefone
                background $img('icone-fone.png') no-repeat center left
                margin 1em 0 .3em
                +below($tablet)
                    margin-top 0
            p.whatsapp
                background $img('icone_whats.png') no-repeat center left
                margin-top 0
            p.showroom
                lato 12
                color #fff
                line-height 1.1
            .social
                font-size 0
                a
                    width 16px
                    height 16px
                    background-size 16px 16px
                    display inline-block
                    text-indent -9999px
                    margin-right 5px
                    border-radius 2px
                    &.facebook
                        background $img('face.png') no-repeat center
                    &.instagram
                        background $img('insta.png') no-repeat center
            p.copyright
                lato 10
                color #fff
                margin 2.5em 0 0
                a
                    display inline
                    font-size inherit
