header
    background #fff
    height 50px
    width 100%
    .center
        padding-left 185px
        position relative
        clearfix()
        height 100%
        +mobile()
            padding-left 90px
    .logo
        width 160px
        height 160px
        position absolute
        top 0
        left 0
        background $img('logo.png') no-repeat center #0631A5
        text-indent -9999px
        z-index 9998
        +mobile()
            width 85px
            height 85px
            background-size 65% auto
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        margin-left 15px
        outline 0
        padding 0
        +mobile()
            margin-left 10px
        .lines
            display block
            width 100%
            height 4px
            background $roxo
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $roxo
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav#mobile
        +above($tablet)
            display none !important
        display none
        background $roxo
        position absolute
        z-index 9997
        border-bottom 4px solid darken($roxo, 5)
        width 100%
        padding 15px 5%
        text-align right
        a
            lato 15 bold
            color #fff
            display block
            margin 7px 0
            &.active
                color $azul
    nav#desktop
        clearfix()
        float left
        +below($tablet)
            display none
        > a
        .dropdown
            height 50px
            float left
            position relative
            z-index 9998
        > a
        .dropdown > a
            display block
            lato 15
            line-height 50px
            padding 0 10px
            color $roxo
            background none
            transition background .3s, color .3s
        > a:hover
        > a.active
        .dropdown.active
                background $roxo
                color #fff
                > a
                    color #fff
        .dropdown:hover > nav
            top 45px
            opacity 1
            visibility visible
        .dropdown.active:hover > nav
            top 55px
            opacity 0
            visibility hidden
        .dropdown > nav
            position absolute
            left 50%
            transform translateX(-50%)
            background $roxo
            padding 15px 20px
            border-radius 5px
            text-align center
            opacity 0
            visibility hidden
            top 55px
            transition all .3s
            .arrow
                width 0
                height 0
                border-style solid
                border-width 0 10px 8px 10px
                border-color transparent transparent $roxo transparent
                position absolute
                top -8px
                left 50%
                transform translateX(-50%)
            a
                lato 15
                color #fff
                display block
                white-space nowrap
                &:hover
                    color $azul
    .btn-busca
        float left
        margin-left 20px
        height 32px
        margin-top 9px
        background $roxo
        padding 0 30px 0 8px
        line-height 32px
        lato 15
        color #fff
        border-radius 5px
        position relative
        transition background .3s
        +below($tablet)
            float right
            margin-right 12px
        +mobile()
            font-size 0
            padding-left 2px
            margin-left 0
            margin-right 10px
        &:hover
            background rgba($roxo, .8)
        &:after
            content ''
            position absolute
            width 17px
            height 100%
            top 0
            right 8px
            background $img('lupa.png') no-repeat center
    .social
        font-size 0
        float right
        a
            width 21px
            height 20px
            display inline-block
            text-indent -9999px
            margin-right 2px
            border-radius 2px
            margin-top 15px
            &.facebook
                background $img('face.png') no-repeat center
            &.instagram
                background $img('insta.png') no-repeat center
    .btn-carrinho
        display block
        float right
        height 100%
        width 32px
        background $img('cesta-pedido.png') no-repeat center
        margin-left 10px
        &.active
            border 1px solid $roxo

.modal-busca
    display none
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(#000, .85)
    z-index 9999
    cursor pointer
    form
        width 700px
        height 64px
        background #fff
        border-radius 4px
        margin 50px auto 0
        position relative
        +below($tablet)
            max-width 600px
            width 80%
        input[type='text']
            width calc('100% - 65px')
            height 100%
            border 0
            outline 0
            padding 0 25px
            lato 20
            color $roxo
            margin-left 5px
        input[type='submit']
            width 60px
            height 100%
            position absolute
            right 0
            top 0
            background $img('lupa-preta.png') no-repeat center transparent
            border 0
            outline 0
            text-indent -9999px
