.wrapper
    width 1280px
    margin 0 auto
    box-shadow 0 0 15px rgba(#000, .3)
    background #F5F5F5
    background-image linear-gradient(180deg, #F5F5F5, #FFFFFF 80%)
    +below($tablet)
        width 100%
        box-shadow none
