.contato
    .center
        clearfix()
    .info
        width 50%
        float left
        margin-top 140px
        margin-bottom 90px
        clearfix()
        +tablet()
            width 40%
            margin-bottom 70px
        +mobile()
            width 100%
            margin 70px 0 0
        p.telefone
        p.whatsapp
            lato 24 bold
            color $roxo
            padding-left 40px
            display block
            +tablet()
                font-size 22px
            +mobile()
                font-size 18px
                background-size 25px auto !important
                padding-left 32px
        p.telefone
            background $img('icone-fone.png') no-repeat center left
            margin 0 0 .3em
            +below($tablet)
                margin-top 0
        p.whatsapp
            background $img('icone_whats.png') no-repeat center left
            margin 0 0 45px
            +tablet()
                margin-bottom 30px
            +mobile()
                margin-bottom 20px
        h2
            lato 20 light
            color $roxo
            display inline-block
            float left
            margin 0
        .showroom
            float left
            display inline-block
            margin 0
            margin-left 1.5em
            lato 20
            line-height 1.1
            color $roxo
            +tablet()
                display block
                width 100%
                margin .5em 0 0
                lato 18
            +mobile()
                display block
                width 100%
                margin .5em 0 0
                lato 17
    form
        width 50%
        float right
        padding 60px 0 60px 10px
        +tablet()
            width 60%
        +mobile()
            width 100%
            padding 7.5% 0
        h2
            lato 20 light
            color $roxo
            margin 0 0 1.2em
            +mobile()
                margin 0 0 .6em
        .input
            clearfix()
            width 100%
            margin-bottom 4px
            label
                width 105px
                +below($tablet)
                    width 82px
                float left
                text-align right
                lato 15
                color $roxo
                padding-right 10px
                line-height 30px
            input
            textarea
                height 30px
                width calc('100% - 105px')
                +below($tablet)
                    width calc('100% - 82px')
                background #fff
                border 1px solid #ccc
                outline 0
                resize none
                display block
                padding 5px
                lato 14
                color #666
            textarea
                height 130px
        #form-contato-response
            display none
            width calc('100% - 105px')
            +below($tablet)
                width calc('100% - 82px')
            float right
            border 1px solid #aaa
            padding 5px
            lato 11 bold
            text-transform uppercase
            text-align center
            color #666
            letter-spacing 1px
            margin-bottom 4px
        input[type='submit']
            float right
            background $roxo
            border 2px solid $roxo
            transition background .3s, color .3s
            lato 15 bold
            color #fff
            padding 4px 26px
            outline 0
            &:hover
                background #fff
                color $roxo
    .mapa
        width 100%
        height 460px
        position relative
        +tablet()
            height 350px
        +mobile()
            height 280px
        iframe
            display block
            position absolute
            width 100%
            height 100%
