.empresa
    overflow-x hidden
    .center
        clearfix()
    .imagem
        width 50%
        float left
        margin-left -40px
        margin-top 140px
        +tablet()
            margin-left -6%
            width 40%
        +mobile()
            width 112%
            margin 0
            margin-left -6%
        img
            width 100%
            display block
    .texto
        width 50%
        float right
        padding 60px 0 60px 10px
        +tablet()
            width 60%
        +mobile()
            width 100%
            padding 7.5% 0
        *:first-child
            margin-top 0
        color $roxo
        h2
            lato 24
        h3
            lato 16 bold
        p
            lato 15
        ul
            padding 0
            list-style-type none
            li
                position relative
                lato 15
                padding-left 1em
                margin-bottom .5em
                &:before
                    content ''
                    position absolute
                    top .5em
                    left 0
                    width 4px
                    height 4px
                    background $roxo
                    border-radius 100%
        .certificacoes
            background #ECECEC
            padding 30px
            margin-top 2em
            +below($tablet)
                padding 20px
            p
                lato 15 bold
                margin-top 0
            .certificacao
                display table
                width 100%
                margin-bottom 10px
                &:last-child
                    margin-bottom 0
                > div
                    display table-cell
                    &.certificacao-imagem
                        vertical-align top
                        width 160px
                        img
                            border-radius 4px
                            display block
                    &.certificacao-texto
                        vertical-align middle
                        padding-left 15px
                        lato 15 normal italic
                +mobile()
                    display block
                    > div
                        display block
                        width 100% !important
                        img
                            width 100% !important
                        &.certificacao-texto
                            padding 10px 0 5px
