.faq
    overflow-x hidden
    .center
        clearfix()
    .imagem
        width 50%
        float left
        margin-left -40px
        margin-top 140px
        +tablet()
            margin-left -6%
            width 40%
        +mobile()
            width 112%
            margin 0
            margin-left -6%
        img
            width 100%
            display block
    .texto
        width 50%
        float right
        padding 60px 0 60px 10px
        +tablet()
            width 60%
        +mobile()
            width 100%
            padding 7.5% 0
        .pergunta
            background #859EA5
            padding 10px 40px 10px 20px
            display block
            margin-bottom 4px
            lato 16
            color #fff
            position relative
            transition background .3s
            +mobile()
                lato 15
            &:hover
                background darken(#859EA5, 10)
            .sinal
                width 40px
                height 100%
                position absolute
                top 0
                right 0
                &:before
                    content ''
                    width 12px
                    height 2px
                    background #fff
                    position absolute
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-50%)
                &:after
                    content ''
                    width 2px
                    height 12px
                    background #fff
                    position absolute
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-50%)
                    transition opacity .3s
            &.active .sinal:after
                opacity 0
        .resposta
            display none
            margin 0
            padding 10px 0 20px 20px
            p
                margin 0 0 5px
                lato 15
                color $roxo
