.banners
    position relative
    width 100%
    height 450px
    +tablet()
        height 350px
    +mobile()
        height 280px
    .banner
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center
        .frase
            position absolute
            left 0
            bottom 0
            width 100%
            display block
            background rgba($roxo, .8)
            lato 32 light
            color #fff
            text-align center
            padding 30px
            line-height 1.1
            +tablet()
                font-size 26px
                padding 24px
            +mobile()
                font-size 20px
                padding 18px

.chamadas
    display table
    width 100%
    border-top 2px solid #fff
    border-bottom 2px solid #fff
    .chamada
        display table-cell
        width 33.333%
        background-size cover
        background-position center
        padding 30px 30px 75px
        position relative
        text-align center
        +mobile()
            display block
            width 100%
            height auto
        p
            margin 0
            lato 20 bold italic
            line-height 1.1
            color #fff
            text-shadow 0 1px 2px rgba(#000, .4)
        a
            position absolute
            display inline-block
            text-shadow 0 1px 2px rgba(#000, .2)
            bottom 18px
            left 50%
            transform translateX(-50%)
            border 1px solid #fff
            color #fff
            lato 11
            border-radius 12px
            padding 6px 14px
            transition background .3s, color .3s
            &:hover
                background #fff
                color $roxo

.categorias-borda
    width 100%
    height 20px
    border-left 2px solid #FBFBFB
    border-right 2px solid #FBFBFB
    background $roxo
    +mobile()
        display none
.categorias
    display flex
    flex-wrap wrap
    border 1px solid #FBFBFB
    border-top none
    a
        width 25%
        border-left 1px solid #FBFBFB
        border-right 1px solid #FBFBFB
        border-bottom 2px solid #FBFBFB
        border-top none
        background #ECECEC
        display flex
        align-items center
        transition background .3s
        +mobile()
            width 50%
        &:hover
            background darken($azulClaro, 8)
        span
            display block
            width 100%
            text-align center
            lato 14
            color $roxo
            padding 14px
            line-height 1.1
        +above($mobile)
            &:nth-child(2)
            &:nth-child(3)
                border-top 2px solid #fff
        &:first-child
            width 50%
            background $roxo
            +mobile()
                width 100%
            span
                text-align right
                lato 32 light
                line-height 1
                color #fff
                padding 0 25px 12px 0
                +mobile()
                    font-size 28px
                    padding 12px !important
                    text-align center

.destaques
    background #9EB0B4
    padding 30px 40px
    +mobile()
        padding 20px 5%
    h3
        margin 0 0 35px
        text-align center
        lato 32 light
        color #fff
        +mobile()
            margin 0 0 20px
            font-size 28px
    .destaques-lista
        font-size 0
        text-align center
        a
            display inline-block
            vertical-align top
            width 19.2%
            margin-right 1%
            margin-bottom 1%
            &:nth-child(5n)
                margin-right 0
            +tablet()
                width 24.25%
                &:nth-child(5n)
                    margin-right 1%
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width 49.5%
                &:nth-child(5n)
                    margin-right 1%
                &:nth-child(2n)
                    margin-right 0
            .imagem
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($roxo, .75)
                    opacity 0
                    transition opacity .3s
                img
                    width 100%
                    display block
            p
                text-align left
                color $roxo
                lato 13
                text-transform uppercase
                margin .5em 0
                line-height 1.1
                span
                    lato 11 bold
                    text-transform none
            &:hover .imagem:after
                opacity 1
