.noticias
    .center
        clearfix()
    .lista
        width 50%
        float left
        margin-left -40px
        margin-top 140px
        margin-bottom 20px
        +tablet()
            margin-left -6%
            width 40%
        +mobile()
            margin 0 0 20px
            width 100%
        > a
            display block
            background #ECECEC
            padding 12px 40px
            lato 14
            color $roxo
            text-transform uppercase
            margin-bottom 3px
            transition background .3s, color .3s
            +tablet()
                padding 12px 30px
            +mobile()
                padding 12px 18px
            &:hover
            &.active
                background $roxo
                color #fff
        .pager
            list-style-type none
            font-size 0
            margin 20px 0
            +mobile()
                padding 0
            li
                display inline-block
                background $azul
                lato 15
                color $roxo
                line-height 1
                margin-right 1px
                &.disabled
                    cursor default
                    opacity .5
                span
                a
                    display block
                    padding 5px 10px 6px
                a
                    transition color .3s, background .3s
                a:hover
                    background $roxo
                    color #fff
    .texto
        width 50%
        float right
        padding 60px 0 60px 10px
        +tablet()
            width 60%
        +mobile()
            width 100%
            padding 70px 0 7.5%
        color $roxo
        img
            width 100%
            display block
        h1
            lato 24
            margin 0 0 .4em
            text-transform uppercase
        .data
            lato 12 normal italic
            width 300px
            padding-bottom 8px
            color $roxo
            border-bottom 1px solid $roxo
            margin-bottom 20px
        h2
            lato 24
        h3
            lato 16 bold
        p
            lato 15
        ul
        ol
            padding 0
            list-style-type none
            li
                position relative
                lato 15
                padding-left 1.5em
                margin-bottom .5em
                &:before
                    content ''
                    position absolute
                    top .5em
                    left 0
                    width 4px
                    height 4px
                    background $roxo
                    border-radius 100%
        ol
            counter-reset item
            li
                counter-increment item
                &:before
                    content counter(item)'.'
                    background none
                    width auto
                    height auto
                    lato 14
                    top 0
