.orcamento
    .center
        clearfix()
    .orcamento-controle
        width 26%
        float left
        margin-left -40px
        margin-top 140px
        margin-bottom 20px
        background #ECECEC
        padding 25px 25px 25px 40px
        +tablet()
            width 35%
            margin-left -6%
            padding 25px
        +mobile()
            margin 70px 0 15px
            padding 15px
            width 100%
        h2
            lato 20 light
            color $roxo
            margin 0 0 .8em
        h3
            lato 16
            color $roxo
        p
            lato 15
            &:last-child
                margin-bottom 0
            a
                lato 13
                margin-left 5px
                text-decoration underline
                &:hover
                    text-decoration none
        .erros
            border 1px solid #D33A2D
            color #D33A2D
            list-style none
            padding 0
            lato 13
            padding 8px 10px
            li
                line-height 1.2
                margin 3px 0
        .senha-redefinida
            border 1px solid #2EAA00
            color #2EAA00
            list-style none
            lato 13
            padding 8px 10px
            margin-bottom 10px
        input
        textarea
            width 100%
            background #fff
            border 1px solid #ccc
            outline 0
            color $roxo
            display block
            resize none
            margin-bottom 4px
            padding 5px
            lato 15
        textarea
            height 120px
        input[type='submit']
            border 0
            background $roxo
            lato 15 bold
            color #fff
            transition background .3s
            white-space normal
            &:hover
                background rgba($roxo, .8)
        .btn-novo-cadastro
            margin-top 45px
            padding 10px
            display block
            width 100%
            text-align center
            border 1px solid $roxo
            color $roxo
            transition color .3s, background .3s
            lato 15
            &:hover
                color #fff
                background $roxo
    .orcamento-produtos
        width 74%
        float right
        padding 20px 0 40px 0
        clearfix()
        +tablet()
            width 65%
        +mobile()
            width 100%
            padding 20px 0 10%
        .mensagem-cliente
            text-align center
            lato 20
            color $roxo
            padding-top 80px
            margin 0
            +mobile()
                padding-top 0
                lato 16
        .produto
            border 1px solid #ccc
            width 24.175%
            margin-right 1.1%
            margin-bottom 1.1%
            float left
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width 49.45%
                &:nth-child(2n)
                    margin-right 0
            +mobile()
                width 100%
                margin-right 0 !important
                margin-bottom 10px
            a
                display block
                position relative
                img
                    width 100%
                    display block
                .overlay
                    position absolute
                    width 100%
                    left 0
                    opacity 1
                    background rgba($roxo, .5)
                    height auto
                    bottom 0
                    p
                        margin 0
                        width 100%
                        text-align center
                        lato 14
                        color #fff
                        text-transform uppercase
                        line-height 1.2
                        position relative
                        padding 12px
                        span
                            lato 14 bold
                            display block
                            text-transform none
            .produto-carrinho-thumb
                display block
                border-top 1px solid #ccc
                background #fff
                height 40px
                position relative
                .contador-wrapper
                    position absolute
                    width 50%
                    height 100%
                    background $roxo
                    .mais
                    .menos
                        display block
                        width 15px
                        height 100%
                        top 0
                        position absolute
                    .mais
                        right 15px
                        background $img('orc-mais-bco.png') no-repeat center
                    .menos
                        left 15px
                        background $img('orc-menos-bco.png') no-repeat center
                    .contador
                        width 52px
                        margin 0 auto
                        height 100%
                        display block
                        line-height 40px
                        text-align center
                        lato 20
                        color #fff
                        outline 0
                        border 0
                        background $roxo
                .btn-excluir
                    width 50%
                    height 100%
                    position absolute
                    top 0
                    right 0
                    background #fff
                    lato 9 bold
                    line-height 40px
                    text-align center
                    color #666
                    transition background .3s
                    i
                        display inline-block
                        width 17px
                        height 17px
                        vertical-align middle
                        margin-right 5px
                        transform translateY(-1px)
                        background $img('ico-excluir.png') no-repeat center
                    &:hover
                        background-color #ccc
