.produtos
.busca
    .center
        clearfix()
    .produtos-categorias
        width 26%
        float left
        margin-left -40px
        margin-top 140px
        margin-bottom 20px
        +tablet()
            margin-left -6%
        +mobile()
            margin 0 0 20px
            width 100%
        > a
            display block
            background #ECECEC
            padding 12px 40px
            lato 14
            color $roxo
            text-transform uppercase
            margin-bottom 3px
            transition background .3s, color .3s
            +tablet()
                padding 12px 30px
            +mobile()
                padding 12px 18px
            &:hover
            &.active
                background $roxo
                color #fff
    .produtos-lista
        width 74%
        float right
        padding 20px 0 40px 0
        clearfix()
        +mobile()
            width 100%
            padding 70px 0 6%
        .produto
            border 1px solid #ccc
            width 24.175%
            margin-right 1.1%
            margin-bottom 1.1%
            float left
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width 49.45%
                &:nth-child(2n)
                    margin-right 0
            +mobile()
                width 100%
                margin-right 0 !important
                margin-bottom 10px
            a
                display block
                position relative
                img
                    width 100%
                    display block
                .overlay
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($roxo, .75)
                    opacity 0
                    transition opacity .3s
                    p
                        margin 0
                        position absolute
                        width 100%
                        top 50%
                        transform translateY(-50%)
                        text-align center
                        padding 20px
                        lato 14
                        color #fff
                        text-transform uppercase
                        line-height 1.2
                        span
                            lato 14 bold
                            display block
                            text-transform none
                    +below($tablet)
                        opacity 1
                        background rgba($roxo, .5)
                        height auto
                        bottom 0
                        top auto
                        p
                            position relative
                            transform none
                            padding 12px
                &:hover .overlay
                    opacity 1
            .produto-carrinho-thumb
                display block
                border-top 1px solid #ccc
                background #fff
                height 40px
                position relative
                .contador-wrapper
                    position absolute
                    width 50%
                    height 100%
                    .mais
                    .menos
                        display block
                        width 15px
                        height 100%
                        top 0
                        position absolute
                    .mais
                        right 15px
                        background $img('sinal_mais.png') no-repeat center
                    .menos
                        left 15px
                        background $img('sinal_menos.png') no-repeat center
                    .contador
                        width 52px
                        margin 0 auto
                        height 100%
                        display block
                        line-height 40px
                        text-align center
                        lato 20
                        color #222
                        outline 0
                        border 0
                .btn-adicionar
                    width 50%
                    height 100%
                    position absolute
                    top 0
                    right 0
                    background $roxo
                    lato 9 bold
                    line-height 40px
                    text-align center
                    color #fff
                    transition background .3s
                    i
                        display inline-block
                        width 17px
                        height 17px
                        vertical-align middle
                        margin-right 5px
                        transform translateY(-1px)
                        background $img('cesta_branca.png') no-repeat center
                    &:hover
                        background-color rgba($roxo, .8)
    .produtos-show
        width 74%
        float right
        padding 20px 0 40px 0
        clearfix()
        +mobile()
            width 100%
            padding 70px 0 6%
        .imagem
            width 50%
            float left
            position relative
            .imagem-selecionada
                width 100%
                height 0
                padding-bottom 100%
                position relative
                img
                    width 100%
                    display block
            #image-zoom
                display none
                position absolute !important
                width 100%
                height 0
                padding-bottom calc('100% - 8px')
                top 0
                right -100%
                border 4px solid #ccc
                +below($tablet)
                    display none !important
            .imagens-thumbs
                width 100%
                margin-top 20px
                clearfix()
                img
                    width 24.25%
                    height auto
                    display block
                    float left
                    margin-right 1%
                    margin-bottom 1%
                    cursor pointer
                    border 1px solid #ddd
                    &:nth-child(4n)
                        margin-right 0
            +mobile()
                width 100%
        .descricao
            width 50%
            float right
            padding-left 32px
            padding-top 32px
            color $roxo
            +mobile()
                width 100%
                padding 20px 0 0
            h1
                lato 20 bold
                text-transform uppercase
                margin 0 0 1em
            p
                margin 1.5em 0 0
                lato 12
                line-height 1.2
                span
                    display block
                    lato 16
                &.codigo
                    span
                        font-weight bold
                &.nome
                &.embalagem
                    span
                        text-transform uppercase
        .adicionar-produto
            float left
            width 100%
            margin-top 15px
            background #ECECEC
            h3
                lato 20
                color $roxo
                text-align center
                padding 0 20px
            .produto-carrinho-show
                display block
                width 85%
                max-width 350px
                background #fff
                height 64px
                position relative
                margin 0 auto 20px
                .contador-wrapper
                    position absolute
                    width 50%
                    height 100%
                    .mais
                    .menos
                        display block
                        width 15px
                        height 100%
                        top 0
                        position absolute
                    .mais
                        right 15px
                        background $img('sinal_mais.png') no-repeat center
                    .menos
                        left 15px
                        background $img('sinal_menos.png') no-repeat center
                    .contador
                        width 100px
                        margin 0 auto
                        height 100%
                        display block
                        line-height 64px
                        text-align center
                        lato 36
                        color #222
                        outline 0
                        border 0
                        +mobile()
                            font-size 30px
                .btn-adicionar
                    width 50%
                    height 100%
                    position absolute
                    top 0
                    right 0
                    background $roxo
                    lato 16
                    line-height 64px
                    text-align center
                    color #fff
                    transition background .3s
                    +mobile()
                        lato 14
                    i
                        display inline-block
                        width 17px
                        height 17px
                        vertical-align middle
                        margin-right 5px
                        transform translateY(-1px)
                        background $img('cesta_branca.png') no-repeat center
                    &:hover
                        background-color rgba($roxo, .8)
            .orcamento-quantidade
                border-top 2px solid #fff
                .texto
                    width 50%
                    float left
                    border-right 2px solid #fff
                    padding 10px
                    lato 15
                    color $roxo
                    padding-left 50px
                    background $img('cesta-pedido.png') no-repeat 15px center
                a
                    display block
                    width 50%
                    float left
                    padding 10px
                    lato 16
                    transition background .3s, color .3s
                    text-align center
                    color $roxo
                    &:hover
                        background $roxo
                        color #fff
                +below($tablet)
                    .texto
                    a
                        width 100%
                        border 0
                    .texto
                        border-bottom 2px solid #fff
                        lato 14
                    a
                        text-align left
                        padding-left 20px
                        lato 15
            +mobile()
                margin-top 25px

.busca
    .busca-resultado
        text-transform uppercase
        lato 20 light
        color $roxo
        padding-left 190px
        margin 90px 0 1.5em
        line-height 1
        span
            font-weight 700
        +mobile()
            margin-top 70px
            padding-left 0
            lato 18 light
    .busca-nenhum
        width 100%
        padding 0 0 80px
        +mobile()
            padding 0 0 40px
        p
            display inline-block
            padding 12px 18px
            border 1px solid $roxo
            lato 14
            color $roxo
            text-transform uppercase
    .produtos-lista
        width 100%
        padding-top 0 !important
        .produto
            width 19.12%
            &:nth-child(5n)
                margin-right 0 !important
            &:nth-child(4n)
                margin-right 1.1%
            +tablet()
                width 24.175%
                margin-right 1.1%
                margin-bottom 1.1%
                float left
                &:nth-child(2n)
                &:nth-child(5n)
                    margin-right 1.1% !important
                &:nth-child(4n)
                    margin-right 0 !important
            +mobile()
                width 100%
                margin-right 0 !important
                margin-bottom 10px
                float left

.produto-carrinho-thumb .indisponivel
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background #CACACA
    text-align center
    color #666
    lato 9 bold
    line-height 40px
    cursor default
