.representantes
    .center
        clearfix()
    #form-representante
        width 40%
        float left
        margin 90px 0
        h2
            lato 20 light
            color $roxo
            padding-left 190px
            margin 0 0 1.5em
        +tablet()
            margin-top 140px
            margin-bottom 30px
            width 100%
            h2
                padding-left 0
                margin-bottom 1em
        +mobile()
            width 100%
            margin-top 70px
            margin-bottom 30px
            h2
                padding-left 0
                margin-bottom 1em
                font-size 18px
        .input
            clearfix()
            width 100%
            margin-bottom 4px
            label
                width 82px
                float left
                text-align right
                lato 15
                color $roxo
                padding-right 10px
                line-height 30px
            input
            textarea
                height 30px
                width calc('100% - 82px')
                background #fff
                border 1px solid #ccc
                outline 0
                resize none
                display block
                padding 5px
                lato 14
                color #666
            textarea
                height 130px
        #form-representantes-response
            display none
            width calc('100% - 82px')
            +below($tablet)
                width calc('100% - 82px')
            float right
            border 1px solid #aaa
            padding 5px
            lato 11 bold
            text-transform uppercase
            text-align center
            color #666
            letter-spacing 1px
            margin-bottom 4px
        input[type='submit']
            float right
            background $roxo
            border 2px solid $roxo
            transition background .3s, color .3s
            lato 15 bold
            color #fff
            padding 4px 26px
            outline 0
            &:hover
                background #fff
                color $roxo
    .encontre
        width 50%
        float right
        h2
            lato 20 light
            color $roxo
            margin 45px 0 1.5em
        +tablet()
            width 100%
            h2
                margin 0 0 1em
        +mobile()
            width 100%
            margin-bottom 40px
            h2
                font-size 18px
                margin 0 0 1em
        select
            width 100%
            display block
            max-width 400px
            margin-bottom 4px
            border 1px solid #ccc
            lato 14
            color $roxo
            outline 0
            height 30px
            &:disabled
                background #ddd
        .mapa
            width 490px
            height 495px
            background $img('mapa/BRASIL.png') no-repeat center
            margin 30px 0 60px
            position relative
            +mobile()
                display none
            a
                position absolute
                display block
                text-indent -9999px
                background-size 100% 100%
                background-position center
                background-repeat no-repeat
                opacity 0
                transition opacity .3s
                &:hover
                &.active
                    opacity 1
                &.ac
                    width 92px
                    height 49px
                    top 165px
                    left 0
                    background-image $img('mapa/AC.png')
                    z-index 2
                &.al
                    width 39px
                    height 24px
                    right 5px
                    top 184px
                    background-image $img('mapa/AL.png')
                &.am
                    width 218px
                    height 158px
                    top 39px
                    left 2px
                    background-image $img('mapa/AM.png')
                &.ap
                    width 63px
                    height 70px
                    top 11px
                    left 240px
                    background-image $img('mapa/AP.png')
                    z-index 2
                &.ba
                    width 113px
                    height 125px
                    top 179px
                    left 342px
                    background-image $img('mapa/BA.png')
                &.ce
                    width 52px
                    height 66px
                    top 105px
                    left 409px
                    background-image $img('mapa/CE.png')
                &.df
                    width 15px
                    height 10px
                    top 261px
                    left 319px
                    background-image $img('mapa/DF.png')
                    z-index 3
                &.es
                    width 29px
                    height 44px
                    top 297px
                    left 393px
                    background-image $img('mapa/ES.png')
                    z-index 2
                &.go
                    width 90px
                    height 89px
                    top 224px
                    left 259px
                    background-image $img('mapa/GO.png')
                    z-index 2
                &.ma
                    width 88px
                    height 118px
                    top 81px
                    left 317px
                    background-image $img('mapa/MA.png')
                    z-index 2
                &.mg
                    width 137px
                    height 111px
                    top 248px
                    left 284px
                    background-image $img('mapa/MG.png')
                &.ms
                    width 88px
                    height 89px
                    top 283px
                    left 200px
                    background-image $img('mapa/MS.png')
                &.mt
                    width 141px
                    height 136px
                    top 158px
                    left 156px
                    background-image $img('mapa/MT.png')
                &.pa
                    width 164px
                    height 158px
                    top 33px
                    left 187px
                    background-image $img('mapa/PA.png')
                &.pb
                    width 48px
                    height 30px
                    top 148px
                    left 441px
                    background-image $img('mapa/PB.png')
                    z-index 2
                &.pe
                    width 81px
                    height 29px
                    top 163px
                    left 408px
                    background-image $img('mapa/PE.png')
                &.pi
                    width 70px
                    height 102px
                    top 104px
                    left 350px
                    background-image $img('mapa/PI.png')
                    z-index 3
                &.pr
                    width 75px
                    height 53px
                    top 352px
                    left 244px
                    background-image $img('mapa/PR.png')
                    z-index 2
                &.rj
                    width 46px
                    height 29px
                    top 334px
                    left 358px
                    background-image $img('mapa/RJ.png')
                    z-index 2
                &.rn
                    width 44px
                    height 28px
                    top 133px
                    left 444px
                    background-image $img('mapa/RN.png')
                &.ro
                    width 88px
                    height 72px
                    top 169px
                    left 91px
                    background-image $img('mapa/RO.png')
                &.rr
                    width 76px
                    height 85px
                    top 0px
                    left 112px
                    background-image $img('mapa/RR.png')
                &.rs
                    width 88px
                    height 86px
                    top 409px
                    left 211px
                    background-image $img('mapa/RS.png')
                &.sc
                    width 61px
                    height 43px
                    top 395px
                    left 252px
                    background-image $img('mapa/SC.png')
                &.se
                    width 23px
                    height 27px
                    top 192px
                    left 445px
                    background-image $img('mapa/SE.png')
                &.sp
                    width 104px
                    height 72px
                    top 317px
                    left 261px
                    background-image $img('mapa/SP.png')
                &.to
                    width 61px
                    height 103px
                    top 133px
                    left 291px
                    background-image $img('mapa/TO.png')
    &.representantes-show
        .encontre
            float left
            margin 90px 0
            h2
                lato 20 light
                color $roxo
                padding-left 190px
                margin 0 0 1.5em
            +tablet()
                margin-top 0
                margin-bottom 30px
                width 100%
                h2
                    padding-left 0
                    margin-bottom 1em
            +mobile()
                width 100%
                margin-top 0
                margin-bottom 30px
                h2
                    padding-left 0
                    margin-bottom 1em
                    font-size 18px
        .representantes-lista
            width 50%
            float right
            margin-top 45px
            clearfix()
            +tablet()
                margin-top 140px
                margin-bottom 30px
                width 100%
            +mobile()
                width 100%
                margin-top 70px
                margin-bottom 30px
            .nenhum
                margin-top 45px
                display block
                border 1px solid #ccc
                lato 13
                padding 10px
                color $roxo
                text-align center
                text-transform uppercase
                +below($tablet)
                    margin-top 0
            div
                color $roxo
                h3
                    lato 18
                    margin 0
                    text-transform uppercase
                p
                    lato 15
                    margin 0
                    a
                        text-decoration underline
                        &:hover
                            text-decoration none
                padding-bottom 15px
                border-bottom 1px solid $roxo
                margin-bottom 15px
                &:last-child
                    margin-bottom 0
